<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <% for (var i=0 ; i< posts.length ; i++ ) {   %>

        <h3> <%= posts[i].Author.Name  %> </h3>

        <h2> <%=  posts[i].Title  %> </h2>

        <strong><hr></strong>
        
        <% for (var k=0 ; k< posts[i].Comment.length ; k++ ) {   %>

                <h4><%= posts[i].Comment[k].Author.Name %></h4>
           <P><%= posts[i].Comment[k].Title %></P>
           <%  }   %>
        
        <form  action="/comment"  method="POST">

                <input type="hidden" name="id"  value="<%= posts[i]._id %>">

            <input type="text" name="comment" />
            
            <input type="submit"  value="comment" />
            <hr>
            <hr>

        </form>

        <% }  %>
 
</body>
</html>